<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>huicheng0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,173},{17,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,0},{17,21}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,112},{47,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,0},{47,24}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,226},{38,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,0},{38,24}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,0},{38,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,0},{38,24}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,199},{21,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,8},{21,16}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,26},{17,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,12},{17,12}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,161},{46,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,8},{46,17}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{53,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,8},{53,17}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{55,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,8},{55,17}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,138},{34,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,8},{34,16}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,36},{40,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,8},{40,17}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{60,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{60,25}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,199},{50,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{50,25}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,105},{33,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,0},{33,24}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,105},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,0},{19,25}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{51,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,8},{51,17}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{50,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,8},{50,17}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>huicheng0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,173},{13,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,8},{13,16}}</string>
				<key>sourceSize</key>
				<string>{63,25}</string>
			</dict>

			<key>item.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,52},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>

			<key>player_dead0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,147},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,32},{24,24}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,0},{30,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,16},{30,40}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,105},{30,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{17,16},{30,40}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,55},{34,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,8},{34,48}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,161},{39,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{29,0},{39,56}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,60},{43,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,16},{43,40}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,226},{49,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,33},{49,23}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{55,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{41,43},{55,15}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{50,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,45},{50,13}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,180},{48,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,46},{48,12}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,148},{48,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,47},{48,11}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{50,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{50,11}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{53,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{53,11}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,99},{56,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{56,11}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,87},{59,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{59,10}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,48},{62,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{62,10}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{64,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{64,10}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,24},{67,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{67,10}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{70,10}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_dead0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,12},{70,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,47},{70,10}}</string>
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>

			<key>player_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,79},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>player_run0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,68},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,173},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,219},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,0},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,42},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,225},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,26},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,199},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,147},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

			<key>player_run0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{25,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,24}}</string>
				<key>sourceSize</key>
				<string>{25,24}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>player.png</string>
			</dict>
		</dict>
</plist>