obj
.idea/*
*_PList.Dir
*.o
*.so
debug
bin
gen
simulator/*
frameworks/runtime-src/proj.android/assets

frameworks/runtime-src/proj.android/local.properties
frameworks/runtime-src/proj.win32/*
jsb.sqlite
frameworks/runtime-src/proj.android/.settings/org.eclipse.core.resources.prefs
frameworks/runtime-src/proj.win32/redtile.vcxproj
